Skip to content
Muthukumar-sys
/
NOtes

Type / to search

Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
Creating a new file in NOtes
BreadcrumbsNOtes
/
Name your file...
in
master

Edit

Preview
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26

Implemented and orchestrated CI/CD pipelines through Azure DevOps, automating deployment processes for enhanced efficiency.
Played a vital role in the critical incident response team, significantly reducing mean time to resolution (MTTR).
Developed and maintained comprehensive documentation, improving existing materials, and introducing new operational runbooks.
Organized and executed game days, resiliency tests, and chaos engineering exercises using Gremlin to enhance product reliability.
Proficient in developing and managing cloud infrastructure with Infrastructure as Code (IaC) using Terraform.
Created dashboards and established monitors/alerting in Datadog, contributing to the overall observability of the product.
Demonstrated expertise in production deployment across multiple regions and actively involved in release management activities.
Applied troubleshooting skills to identify and resolve issues in distributed systems, with a deep understanding of communication protocols.
Actively participated in on-call rotations, ensuring prompt response to availability incidents and providing crucial support to restore outages.
Automated repetitive operational tasks to enhance overall efficiency and productivity.
Collaborated with development teams to test and deliver hot fixes for critical production issues.
Coordinated with different cloud vendors and the Platform Engineering team for change management and incidents






Maintaining deployments on lower environments such as QA, DV & UAT.
Worked on Scaled Agile methodologies.
Experience in Python scripting to automate tasks
Experience in using the version control management tool GIT and its web repositories in GitHub for source code storage and management.
Very good understanding of various DevOps tools (  JFrog Artifactory, Kubernetes, Docker, Ansible, Terraform,Selenium).
Proven adaptability to new technologies through continuous learning and hands-on experience
Hands-on experience using Selenium (BDD & Data-driven frameworks).
🌴 On vacation Muthukumar-sys Muthukumar CHennai Owns this repository Press escape to close this hovercard
